header{
  background-color: blue;
  text-align: center;
}

main {
  padding: 0 20px;
}
input{
  margin: 10px 0;
  background-color: orange;
}
fieldset{
  border: none;
}

td:last-child{
width: 5px;
}
td:nth-child(2)>button{
  width: 100%;
}
table{
  font-size: 3em;
}
#controls{
  display: flex;
  justify-content: space-around;
}
#save{
  align-self: flex-end;
}