header{
  background-color: blue;
  text-align: center;
}

form, aside {
  padding: 20px;
}
input{
  display: block;
  margin: 10px 0;
  background-color: orange;
  width: 100%;
}
fieldset{
  border: none;
}
aside img{
  max-width: 100%;
  height: auto;
}
.hide{
display: none;
}
td:last-child{
width: 5px;
}
td:nth-child(2)>button{
  width: 100%;
}
table{
  font-size: 3em;
}