header {
  padding: 1px 2em 2em;
}

button {
  cursor: pointer;
  background-color: #4267b2;
  padding: auto 15px;
}

.text-center {
  text-align: center;
}

html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
}

nav,
main {
  max-width: 736px;
  margin: 0 auto;
}

input, button {
  border-radius: 4px;
  border: none;
  font-size: 1.5rem;
  color: white;
}

input {
  margin: 10px 0;
  background-color: #b2b042;
  color: white;
}

fieldset button{
  background-color: #b27e42;
}
fieldset {
  border-width: 0 0 1px 1px;
  border-radius: 5px;
}

ul {
  border: solid;
}

table {
  width: 100%;
}

tr:nth-child(odd) button {
  background-color: #4277b2;
}

tr:nth-child(even) button {
  background-color: #4257b2;
}

td {
  padding: 0;
  height: 5px;
  vertical-align: bottom;
}

.flexbox {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

td button {
  width: 100%;
  font-size: 2rem;
  height: 100%;
}

td:first-child button {
  font-size: 3rem;
}

td:first-child {
  width: 90vw;
}

.hide {
  display: none;
}

.fluid-img {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
  border-radius: 50%;
}
form {
  grid-area: form;
}

aside {
  max-width: 300px;
  grid-area: as;
}

@media screen and (min-width: 600px) {
  #singleView {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "form form as" "form form .";
  }
}